<dx-popup
  [hideOnOutsideClick]="false"
  [visible] = "visible"
  (onHidden)="onHide()"
  contentTemplate="popup-content"
  (onContentReady)="popupReady($event)"
>
  <div *dxTemplate="let data of 'popup-content'">
    <dx-select-box
      [(value)]="selectedValue"
      [dataSource]="list"
      valueExpr="code"
      displayExpr="description"
    ></dx-select-box>
    <dx-button (onClick)="onAccept()">Accept</dx-button>
    <dx-button (onClick)="onCancel()">Cancel</dx-button>
  </div>
</dx-popup>

